@using TwitterCloneApplication.Models
@model RegisterViewModel

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="~/css/signup.css">
</head>
<body>
    <div class="wrapper">
        <h2>Sign Up</h2>
        <form asp-action="Register" asp-controller="User" method="post">
            @Html.AntiForgeryToken()

            <img src="~/images/twitterlogo.png" width="100px" style="display: block; margin: auto;" />

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="input-box">
                <input asp-for="Username" type="text" placeholder="Enter your name" required>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Email" type="email" placeholder="Enter your email" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Password" type="password" placeholder="Create password" required>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm password" required>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="policy">
                <input asp-for="AcceptTerms" type="checkbox" required>
                <label asp-for="AcceptTerms">I accept all terms & condition</label>
            </div>
            <div class="input-box button">
                <input type="submit" value="Register Now">
            </div>
            <div class="text">
                <h3>Already have an account? <a asp-controller="User" asp-action="Login">Login now</a></h3>
            </div>
        </form>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
