@model IndexViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/all.css">
</head>
<body>

    <div class="main-flex-container">
        <div class="left-flex-container flex-item">
            <div class="nav-links">
                <ul>
                    
                    <li class="nav-items logo"><a href="#"><i class="fab fa-twitter"></i></a></li>

                    <li class="nav-items current-page"><a href="~/Home/Index"><i class="fas fa-home"></i> Home</a></li>

                    <li class="nav-items"><a href="#"><i class="fas fa-hashtag"></i> Explore</a></li>

                    <li class="nav-items"><a href="#"><i class="far fa-bell"></i> Notifications</a></li>

                    <li class="nav-items"><a href="#"><i class="far fa-envelope"></i> Messages</a></li>

                    <li class="nav-items"><a href="#"><i class="far fa-bookmark"></i> Bookmarks</a></li>

                    <li class="nav-items"><a href="#"><i class="far fa-list-alt"></i> Lists</a></li>

                    <li class="nav-items"><a href="~/Home/Privacy"><i class="far fa-user"></i> Profile</a></li>

                    <li class="nav-items"><a href="#"><i class="fas fa-ellipsis-h more-icon"></i> More</a></li>
                </ul>
            </div>
            <div class="tweet"><a href="#">Tweet</a></div>
            <div class="profile-box">
                <img src="~/img/profile.jpg" alt="profile">
                <div class="profile-link">
                    <p class="full-name">David Herbert</p>
                    <p class="user-name"></p>
                </div>
                <div class="options-icon"><i class="fas fa-caret-down"></i></div>
            </div>
        </div>

        @* orta kısım *@
        <div class="center-flex-container flex-item">
            <div class="home">
                <h1>Home</h1>
                <i class="fas fa-magic"></i>
            </div>

            <div class="post-tweet">
                <form action="/Post/Create" method="Post">
                    <div class="form-group-1">
                        <img src="~/img/profile.jpg" alt="profile-pics">
                        <input type="text" name="Content" placeholder="What's happening?">
                        <input type="hidden" name="UserId" value="40"/>
                    </div>
                    <div class="form-group-2">
                        <div class="post-icons">
                            <i class="far fa-image"></i>
                            <i class="far fa-file-image"></i>
                            <i class="fas fa-stream"></i>
                            <i class="far fa-smile"></i>
                            <i class="far fa-calendar-check"></i>
                        </div>
                        <button class="btn" type="submit">Tweet</button>
                    </div>
                </form>

            </div>
            <!-- User Content -->
            @if(Model != null)
            {
                foreach(var post in Model.Posts)
                {
                    <div class="tweets">
                        <div class="user-pics"><img src="~/img/user3.jpg" alt="user3"></div>
                        <div class="user-content-box">
                            <div class="user-names">
                                <hi class="full-name">@post.User.Username</hi>
                                <p class="user-name"></p>
                                <p class="time">@post.PostedOn</p>
                            </div>

                            <div class="user-content">
                                <p>@post.Content</p>
                            </div>

                            <div class="content-icons">
                                <i class="far fa-comment blue"> 109</i>
                                <i class="fas fa-retweet green"> 865</i>
                                <i class="far fa-heart red">1.6k</i>
                                <i class="fas fa-chevron-up blue"></i>
                            </div>

                        </div>
                    </div>
                }
            }
            
            

            <div class="pagnation">
                <a href="#">Load more</a>
            </div>

        </div>



        <div class="right-flex-container flex-item">
            <div class="search-box">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search Twitter">
            </div>

            <div class="trends">
                <ul>
                    <li class="nav-list header">
                        <h2>Trends for you</h2>
                        <i class="fas fa-cog">
                        </i>
                    <li class="nav-list">
                        <div class="trend-list">
                            <p class="sub-text">Trending in Naija</p>
                            <p class="main-text">#BBNaija</p>
                            <p class="sub-text">274K Tweets</p>
                        </div>
                        <div class="trend-icon">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </li>
                    <li class="nav-list">
                        <div class="trend-list">
                            <p class="sub-text">Trending in Naija</p>
                            <p class="main-text">#TaylorSwift</p>
                            <p class="sub-text">154K Tweets</p>
                        </div>
                        <div class="trend-icon">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </li>
                    <li class="nav-list">
                        <div class="trend-list">
                            <p class="sub-text">Trending in Naija</p>
                            <p class="main-text">#Lover</p>
                            <p class="sub-text">135K Tweets</p>
                        </div>
                        <div class="trend-icon">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </li>
                    <li class="nav-list">
                        <div class="trend-list">
                            <p class="sub-text">Trending in Naija</p>
                            <p class="main-text">#Dora</p>
                            <p class="sub-text">124K Tweets</p>
                        </div>
                        <div class="trend-icon">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </li>
                    <li class="nav-list">
                        <div class="trend-list">
                            <p class="sub-text">Trending in Naija</p>
                            <p class="main-text">#TGIF</p>
                            <p class="sub-text">43K Tweets</p>
                        </div>
                        <div class="trend-icon">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </li>


                    <li class="nav-list"><a href="#">Show more</a></li>
                </ul>
            </div>

            <div class="right-footer">
                <div class="footer-links">
                    <a href="#" class="sub-text">Terms</a>
                    <a href="#" class="sub-text">Privacy policy</a>
                    <a href="#" class="sub-text">Ads info</a>
                    <a href="#" class="sub-text">more</a>
                    <i class="fas fa-chevron-down sub-text"></i>
                </div>
                <div class="footer-copyright">
                    <p class="sub-text">&copy; 2020 Twitter, Inc.</p>
                </div>

            </div>

        </div>

    </div>

</body>
</html>