@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TwitterClone</h1>
    <p>Learn how to create your own TwitterClone app.</p>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <!-- Yeni Kullanıcı Oluşturma Butonu -->
    <a class="btn btn-primary" href="@Url.Action("Create", "User")">Create New User</a>

    <!-- Kullanıcı Listesi Butonu -->
    <a class="btn btn-secondary" href="@Url.Action("Index", "User")">List Users</a>
</div>
