@model TwitterClone.Models.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Login Form - Code Mo</title>
    <link rel="stylesheet" href="~/css/stylee.css">
</head>
<body>
    <div class="container">
        <div class="box box-one">
            <i class="fab fa-twitter"><img src="~/images/twitterlogo.png" width="100px" /></i>
            <!-- Sosyal medya giriş butonları -->
            <button>
                <img src="~/images/google.png" width="19">
                <span>Sign in with Google</span>
            </button>
            <button>
                <img src="~/images/apple.png" width="19">
                <span>Sign in with Apple</span>
            </button>
        </div>
        <h5>Or</h5>
        <div class="box box-two">
            <form asp-action="Login" asp-controller="Register" method="post">
                @Html.AntiForgeryToken()
                <input asp-for="EmailOrUsername" type="text" placeholder="Phone, email, or username" required>
                <input asp-for="Password" type="password" placeholder="Password" required>
                <button type="submit" class="next-btn">Next</button>
            </form>
            <button>Forget password?</button>
        </div>
        <p>Don't have an account? <a asp-action="Register" asp-controller="Home">Sign Up</a></p>
    </div>
</body>
</html>
