@model TwitterClone.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="~/css/stylee.css">
</head>
<body>
    <div class="container">
        <div class="box box-one">
            <i class="fab fa-twitter"><img src="~/images/twitterlogo.png" width="100px" /></i>
            <!-- Sosyal medya giriş butonları -->
            <button>
                <img src="~/images/google.png" width="19">
                <span>Sign in with Google</span>
            </button>
            <button>
                <img src="~/images/apple.png" width="19">
                <span>Sign in with Apple</span>
            </button>
        </div>
        <h5>Or</h5>&nbsp;
        <div class="box box-two">
            <form asp-action="Login" asp-controller="User" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new{@class = "text-danger"})
                <input asp-for="EmailOrUsername" type="text" placeholder="Phone, email, or username" required>&nbsp;
                <input asp-for="Password" type="password" placeholder="Password" required>&nbsp;
                <button type="submit" class="next-btn">Log In</button>&nbsp;
            </form>
            <!-- Buraya şifre sıfırlama işlevinizin linkini ekleyebilirsiniz -->
            <a href="şifre-sıfırlama-linki">Forget password?</a>&nbsp;
        </div>
        <p>Don't have an account? <a asp-action="Register" asp-controller="User">Sign Up</a></p>
    </div>
</body>
</html>
